{% extends 'student/base.html' %}

{% load static %}


{% block content %}
<div class="col-md-8 col-sm-5 col-xs-5">


 <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

        </div>
    </div>


 <div id="content-wrapper ">
        <div class="container-fluid text-center text-primary">
           <h1>Student CRUD App</h1>
           <h2>Created By</h2>
           <h2>Suraj Sahani</h2>
        </div>
    </div>

                             


              

{% endblock %}